@using ECommerce.Data;
@model IndividualProductViewModel;



<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <input type="hidden" name="productid" id="productid" value="@Model.Product.Id" />
        <input type="hidden" name="shoppingid" id="shoppingid" value="@Model.CartId" />
        <h1>@Model.Product.Name</h1>
        <br />
        <img src="/uploads/@Model.Product.ImageFileName" style="width: 550px;" />
        <br />
        <h1>Price: @Model.Product.Price.ToString("C")</h1>
        <br />
        <div class="col-md-4">
            <label>Select your quantity:</label>
            <select id="quantity" name="quantity" class="form-control">
                @for (int i = 1; i <= 10; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>
        <br />
        <div class="row">
            <button class="btn btn-primary" id="addtocart">Add to Cart</button>
        </div>
    </div>
</div>


<div class="modal" id="addedtocart" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="title">Product Has Been Added to Cart!</h2>
            </div>
            <div class="modal-body">
                <a href="/home/index" style="font-size: 30px">Keep Shopping</a>
                <br />
                <a href="/home/viewcart" style="font-size: 30px"><span id="viewcart">View Cart</span></a>
            </div>

        </div>
    </div>
</div>


@section scripts {
    <script src="~/js/product.js"></script>
}